/**reset**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**Geral**/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa01{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
}
.caixa02{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa03{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    align-items: center;
}
.caixa04{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa05{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    align-items: end;
}
.caixa06{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa07{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    justify-content: center;
}
.caixa08{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa09{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.caixa10{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa11{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    justify-content: center;
    align-items: end;
}
.caixa12{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa13{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    justify-content: end;
}
.caixa14{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa15{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    justify-content: end;
    align-items: center;
}
.caixa16{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}
.caixa17{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid coral;
    background-color: coral;
    margin: 10px;
    justify-content: end;
    align-items: end;
}
.caixa18{
    width: 40px;
    height: 40px;
    border: 5px solid cornflowerblue;
    background-color: cornflowerblue;
}